<footer class="footer">
  <div class="container footer-grid">
    <div class="footer-col">
      <a routerLink="/" class="footer-logo-link">
        <img src="assets/logo/logogyan.png" alt="{{ info.name }} Logo" class="footer-brand-logo">
      </a>
      <p class="footer-tagline mt-2"><strong>{{ info.tagline }}</strong></p>
      <p class="footer-desc mt-2">
        A premium, peaceful, and fully-equipped study environment dedicated to helping students and professionals achieve their goals without distractions.
      </p>
    </div>
    
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul class="footer-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/facilities">Facilities</a></li>
        <li><a routerLink="/plans">Plans</a></li>
        <li><a routerLink="/seats">Seats</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Contact Info</h4>
      <ul class="footer-contact">
        <li>
          <div class="icon-box"><span class="material-icons">home</span></div>
          <span>{{ info.address }}</span>
        </li>
        <li>
          <div class="icon-box"><span class="material-icons">phone</span></div>
          <span>{{ info.phone }}</span>
        </li>
        <li>
          <div class="icon-box"><span class="material-icons">email</span></div>
          <span>{{ info.email }}</span>
        </li>
        <li>
          <div class="icon-box"><span class="material-icons">language</span></div>
          <span>www.gyanlibrary.com</span>
        </li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Opening Hours</h4>
      <p><span class="material-icons" style="vertical-align: middle; margin-right: 5px;">schedule</span> {{ info.openingHours }}</p>
      <p>Monday - Sunday</p>
    </div>
  </div>
  
  <div class="footer-bottom-container">
    <div class="container footer-bottom">
      <p>&copy; {{ year }} <strong style="color: var(--accent-color);">{{ info.name }}</strong>. All Rights Reserved.</p>
      <div class="social-links">
        <a href="#" class="social-icon facebook" title="Facebook"><span class="material-icons">facebook</span></a>
        <a href="#" class="social-icon instagram" title="Instagram"><span class="material-icons">camera_alt</span></a>
        <a href="#" class="social-icon twitter" title="Twitter"><span class="material-icons">flutter_dash</span></a>
      </div>
    </div>
  </div>
</footer>
